<!DOCTYPE html>
<html>
<style type="text/css">

    /* These are for music control */
        .upper_buttons {
            text-align: center;
        }

        .lower_button {
            text-align: center;
        }

        .buttonRight {
            text-align: right;
        }

        .buttonLeft {
            text-align: left;
        }

        .song_name {
            text-align: center;
            margin-top:300px;
        }

        .titleRow {
            background-color: red;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

    /* This is music list format */

        .songTable {
            margin-left: auto;
            margin-right: auto;
        }

        .songs {
            width: 75%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        tr:nth-child(odd) {
                background-color: #C4D8E2;
        }

        tr:nth-child(even) {
                background-color: #778899;
        }

        .runTime {
            background-color: black;
            color: white;
            text-align: right;
            padding-right: 200px;
        }

        tr:hover {
            background-color: white;
            cursor: pointer;
        }

    /* These use both */

        table {
            border-collapse: collapse;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }

    /* Other */


        .title {
            background-color: black;
            color: white;
        }

</style>


<head>
    <meta charset="UTF-8">
    <title>Home Wreker Music Interface</title>
</head>
<body>



    <div id="music" class="action">
      <h2>Music</h2>
    </div>

    <div id="alarm" class="action" style="display:none">
      <h2>Alarm</h2>
    </div>

     <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button" onclick="setAction('music')">Music</button>
      <button class="w3-bar-item w3-button" onclick="setAction('alarm')">Paris</button>
    </div>



    <h1 class="song_name" id="song_name">Song Name</h1>
    <table border="1px">
        <tr class="controller" style="background-color: white">
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="record" onclick="record()">
                        Record
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="stop" onclick="pause()">
                        Stop
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="rewind" onclick="rewind()">
                        Rewind
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="play" onclick="play()">
                        <b>Play</b>
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="forward" onclick="forward()">
                        Forward
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="repeat" onclick="repeat()">
                        Repeat
                    </button>
                </td>
                <td class="upper_buttons">
                    <button type="submit" name="ctrl" value="expand" onclick="restart()">
                        Restart
                    </button>
                </td>
        </tr>
        <tr class="controller" style="background-color: white">
            <td colspan="7" id="percent">===================================================================</td>
        </tr>
        <tr class="controller" style="background-color: white">
            <td colspan="2" class="buttonLeft" id='curTime'>Time</td>
                <td class="lower_button">
                    <button type="submit" name="ctrl" value="volumeDown" onclick="volumeDown()">
                        Volume Down
                    </button>
                </td>
                <td class="lower_button">
                    <button type="submit" name="ctrl" value="mute">
                        Mute
                    </button>
                </td>
                <td class="lower_button">
                    <button type="submit" name="ctrl" value="volumeUp" onclick="volumeUp()">
                        Volume Up
                    </button>
                </td>
	    <td colspan="2" id="totalTime" class="buttonRight">{{ length }}</td>
        </tr>
	<input type ="hidden" id="mills">{{ mills }}</input>
    </table>

    <div class="songTable">
        <table class="titleRow" style="padding-bottom: none;">
            <tr class="bill" >
                <td class="title">Title</td>
                <td class="runTime">Run Time</td>
            </tr>
        </table>
        <div style="overflow:scroll;    height:200px; width:100%; overflow:auto">


            <!--

            ===========================This loads songs found on hte hardware============================

            -->


            <table class="songs" style="padding-top: none;">
                <!--
                    This is the format for the songs on the table
                        <tr onclick="setSong('test_song001.mp3')">
                            <td>test_song001</td>
                            <td>00:05:00</td>
                        </tr>
                -->
                {% for i in songs %}
                    <tr onclick="setSong('{{i}}')">
                        <td>{{i}}</td>
                        <td>00:05:00</td>
                    </tr>
                {% endfor %}
            </table>

         </div>
    </div>
	<script>
		var keepLooping = true;
		var k = 0;
		var timeElapsed = 0;
		var startCounting = false;

		var playTime = 0;
		var playing = true;

		// Tab switching vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
        function setAction(actionName) {
          var i;
          var x = document.getElementsByClassName("action");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          document.getElementById(actionName).style.display = "block";
        }

        // Utility functions vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

        // Sets the currently playing song as the title and plays song
        function setSong( song ){
            document.getElementById('song_name').innerHTML = song;
            playSong( song );
        }

        // No uses. Depricated??
		function tellMeCurTime(){
			let xhr = new XMLHttpRequest();
			let c = 0;
			xhr.open("GET",'getTime');
			xhr.onload= function(){
				playTime = parseInt(xhr.responseText)//document.getElementById('curTime').innerHTML = msToTime(xhr.responseText);
				console.log( "PlayTime: " + String(playTime));
				startCounting = true;
			//	testing( this.c);
			}
			xhr.send();
			return playTime;
		}

		function getTime() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'curPos');
			xhr.responseType = 'text';

			xhr.onload = function() {
//				alert(xhr.responseText);

				if( (xhr.responseText === "") == false)
				{
					if( keepLooping)
					{
						k = parseInt(xhr.responseText)//document.getElementById('curTime').innerHTML = msToTime(xhr.responseText);
						keepLooping = false;
					}
				}

			};
			if (keepLooping)
			xhr.send();
//			return k;
//			setInterval( getTime, 1000 );
		}
		function msToTime( tim ) {
			let k = playTime;
			let hours = Math.floor((playTime/1000)/3600);
			let minutes = Math.floor(((playTime/1000)/60)- (hours*60));
			let seconds = Math.floor(((playTime/1000)-(hours*60)+(minutes*60))%60);
			console.log("K:" + String(k));
			output = "";
			if( hours < 10)
				output += "0" + hours.toString();
			else
				output += hours.toString();

			if( minutes < 10)
				output += ":0" + minutes.toString();
			else
				output += ":" + minutes.toString();

			if( seconds < 10)
				output += ":0" + seconds.toString();
			else
				output += ":" + seconds.toString();

//			console.log("Pretty: " + output);
//			console.log("Ugly: " + String(hours) + ":" + String(minutes) + ":" + String(seconds));
			return output;
		}

		function setTime(tim) {
				let t = msToTime( tim );
				document.getElementById('curTime').innerHTML = t;
		}

	    // No use? Depericated?
		function getTotal(){
		    try{
                var length = 67;
                var total = (playTime/{{ mills }});
                output = "";
                for( i = 0; i < length * total; i++)
                    output += "=";
                for( i = 0; i < length - output.length; i++)
                    output += " ";
                document.getElementById('percent').innerHTML = output;
			}catch (error){
			    document.getElementById('percent').innerHTML = "00:00:00";
			}
		}


        // Music player commands VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV

		function rewind() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'rewind');
			xhr.send();
		}

		function forward() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'forward');
			xhr.send();
		}

		function repeat(){
		    console.log("TODO: Implement repeat button");
		}

		function restart() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'restart');
			xhr.send();
		}

		function volumeUp() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'volumeUp');
			xhr.send();
		}

		function volumeDown() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'volumeDown');
			xhr.send();
		}

		function playSong( songName ) {
			let xhr = new XMLHttpRequest();
			xhr.open('POST', 'playSong', true)
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');;
			var dataSend = "song=" + songName;
			xhr.send(dataSend);
		}

		function play() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'play');
			xhr.send();
			playing = true;
		}

		function pause() {
			let xhr = new XMLHttpRequest();
			xhr.open('GET', 'pause');
			xhr.send();
			playing = false;
		}

        // Main loop vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

		function doStuff() {
			setTime(tellMeCurTime());
			getTotal();

		}

		setInterval( doStuff, 500 );
	</script>
</body>
</html>
